html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: burlywood;
}

h1, h2, h3, h4 {
    text-align: center;
}

.top-info {
    text-align: center;
    padding-bottom: 40px;
}

.Linux, .Christmas, .Thanksgiving {
    margin-left: auto;
    margin-right: auto;
    border: 10px;
    border-radius: 10px;
    border-width:2px;
    border-style:solid;
    border-color:black;
}
